---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
    {%- if page.categories.size > 0 -%}
    <ul class="post-categories">
      {%- for tag in page.categories -%}
      <li>{{ tag }}</li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
  <div class="post">
    {{ content }}
  </div>
  {%- if site.plainwhite.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top:25px"></div>
  <script type="text/javascript">
    var disqus_shortname = '{{ site.plainwhite.disqus_shortname }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] ||
        document.getElementsByTagName('body')[0]).appendChild(dsq);

        var dsqStyle = document.createElement('style'); dsqStyle.type = 'text/stylesheet';
        dsq.href = '/assets/css/disqus-dark.css'
        (document.getElementsByTagName('head')[0] ||
        document.getElementsByTagName('body')[0]).appendChild(dsqStyle);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
powered by Disqus.</a></noscript>
  {%- endif -%}
</div>
